<h1 class="text-center">Hi There!</h1>
<h3 class="text-center">This is the shell of the chess app for Team Fischer</h3>
<h1 class="text-center">Testing for Continuous Deployment - Ramon</h1>
<br />
<div class="text-center">
<%= link_to 'New Game' , new_game_path, :class => 'btn btn-primary' %>
<br><br>
<%= link_to 'Join Game', games_path, :class => 'btn btn-primary' %>
</div>
