<div class='front_hero'>
	<div class='frosty'>
		<div class='container'>

		<h1>Team Fischer's Online Chess Application</h1>
		</div>
	</div>
</div>
<br />
<div class='container'>
  <p>Suspendisse vestibulum mi ut pulvinar finibus. Aenean efficitur mi et arcu convallis lacinia. Integer eget diam id ligula feugiat elementum sit amet a augue. Aliquam molestie aliquam dignissim. Donec venenatis ex ac nibh blandit, tincidunt posuere libero ultrices. Maecenas a ultrices sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel sem ac mauris consequat consequat sed eu lacus. Proin convallis ipsum fringilla augue accumsan dignissim. Donec dignissim ullamcorper odio, non tempor arcu facilisis at. Proin sed mattis est, ut eleifend ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim lorem, aliquam vitae dolor quis, pellentesque aliquet mi. Cras felis metus, tincidunt ac sagittis sit amet, malesuada vitae libero. Curabitur sollicitudin vulputate orci interdum vestibulum. Aliquam erat volutpat.
</p><p>
  Nunc nec erat ut elit vehicula efficitur. Fusce sit amet scelerisque ligula. Sed leo dolor, varius et lectus ac, placerat volutpat urna. Cras a odio purus. In augue nunc, varius id nulla eu, tincidunt fermentum tellus. In mollis non nisi ac posuere. Maecenas cursus posuere eros eu suscipit. Etiam dapibus pretium purus vitae posuere. Morbi viverra, ligula non iaculis ultrices, metus risus semper massa, eget suscipit elit metus non nibh.
</p><p>
  Vivamus nec pellentesque augue. Suspendisse sollicitudin elit magna, nec pellentesque enim consequat a. Integer commodo est ante, convallis scelerisque tortor porta vitae. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sapien eros, malesuada ut quam vitae, aliquam ornare ligula. Phasellus vulputate ligula eu sem vulputate molestie. Nam vestibulum nisi justo, eu tempor nisl sodales quis. In lobortis commodo nibh sit amet vulputate. Maecenas fermentum euismod dui. Ut commodo congue neque. Integer aliquam facilisis faucibus. Pellentesque convallis viverra nisi, at condimentum nibh auctor et. Mauris sodales nunc lorem.</p>
</div>