<h1 class="text-center">Start a new Game</h1>

  <%= simple_form_for @game, :url => games_path do |f| %>
    <%= f.submit "Play", :class => 'btn btn-primary' %>
  <% end %>

<h2 class="text-center">Join a Game</h2>
  <% @games.each do |game| %>
    <%= link_to 'Join' , games_path(game), :class => 'btn btn-success', :method => :put %>
  <% end %>  
  
<br />

		