<h1 class="text-center">Start a new Game</h1>

<div class="text-center">
  <%= simple_form_for @game, :url => games_path do |f| %>
    <%= f.submit "Play", :class => 'btn btn-primary' %>
  <% end %>
  <br />
</div>

<div class="text-center">
	<h3>Users Online</h3>
		<%= User.online %>
		<p>ActiveRecord::Relation::ActiveRecord_Relation_User:0xb490667c</p>
</div>
		