<h1 class="text-center">Have Fun</h1>

<!-- drawing chess board -->
<table class='chess-board chess-squares'>
  <% 8.times do |row| %>
    <tr>
      <% 8.times do |column| %>
        <td id="<%= (row * 8) + (column + 1) %>">
          <% if @pieces[row][column] %>
            <span class="glyphicon glyphicon-<%= @pieces[row][column].glyph %>
                        <%= @pieces[row][column][:color] %>
                        piece" aria-hidden="true">
            </span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

