<h1 class="text-center">Have Fun</h1>

<table class='chess-board chess-squares'>
  <% @rows.times do |row| %>
    <tr>
      <% @columns.times do |column| %><td id="<%= (row + 1) * (column + 1) %>"></td><% end %>
    </tr>
  <% end %>
</table>
